article aside details figcaption figure footer header hgroup menu nav section {
  display: block;
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 1000;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  margin-top: 0;
  min-width: 350px;
  font-family: Roboto, serif;
  color: #222;
}

$hover-orange: #cc4836;
$gray-color: #999;
$orange-color: #f75c49;
$peach-color: #f99589;
$border-color: #767676;
$blue-color: #65a3be;
$top-teachers-pad: 15px;

.check-text {
  color: $gray-color;
}

.check-text:hover {
  filter: brightness(50%);
}

.body-container {
  box-sizing: border-box;
  padding-left: 8.3333333333%;
  padding-right: 8.3333333333%;
}

button {
  font-size: 1em;
  font-weight: 900;
  background-color: transparent;
}

.header-wrapper {
  padding-bottom: 0;
  box-sizing: border-box;
  font-weight: bolder;
}

.flex {
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.figure {
  flex-direction: row;
}

.inline {
  display: inline-flex;
}

ul.stat-pages {
  text-decoration: none;
  list-style-type: none;
  padding-left: 10px;

  li {
    display: inline;
    margin-right: 10px;

    a:link {
      color: $blue-color;
      text-decoration: none;
    }

    a:visited {
      color: $blue-color;
      text-decoration: none;
    }
  }
}

.flex-form {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.flex-form input[type=submit] {
  height: calc(100%);
  box-sizing: border-box;
  border: $orange-color 1px solid;
  padding: 10px 15px;
  color: $orange-color;
  font-weight: bold;
  background-color: transparent;
}

.flex-form input[type=submit]:hover {
  color: white;
  background-color: $orange-color;
}

.input-full {
  height: calc(100%);
  box-sizing: border-box;
  margin-right: 10px;
  border: $border-color 1px solid;
  text-indent: 3px;
  width: 170px;
}

hr {
  width: 60%;
}

hr:last-child {
  margin-bottom: 40px;
}

h2 {
  text-align: center;
}

.icon {
  vertical-align: middle;
  margin: 0 10px 0 26px;
}

nav.flexbox ul {
  padding-left: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav.flexbox ul li {
  margin-right: 20px;
}

nav.flexbox ul li a:hover {
  text-decoration: none;
  filter: brightness(75%);
}

nav.flexbox ul li a:link {
  text-decoration: none;
  color: $orange-color;
}

nav.flexbox ul li a:visited {
  color: $orange-color;
}

nav.flexbox ul li button {
  border: $orange-color 1px solid;
  padding: 10px 15px;
  color: $orange-color;
}

nav.flexbox ul li button:hover {
  color: white;
  background-color: $orange-color;
}

nav.flexbox ul li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.dis-block {
  display: inline-block;
}

.logo {
  font-family: 'Abhaya Libre', serif;
  font-size: 35px;
  color: white;
  text-shadow: -1px -1px 0 $orange-color, 0 -1px 0 #000, 1px 1px 0 #000, 1px 1px 0 $orange-color;
}

.logo:hover {
  text-shadow: -2px -1px 0 $orange-color, 0 -1px 0 #000, 2px 1px 0 #000, 1px 1px 0 $orange-color;
}

@media (max-width: 615px) {
  section#p2.relative {
    padding: 15px 30px 15px 30px;
    max-height: 100%;

    li {
      margin-top: 10px;
      margin-bottom: 10px;

      &:last-child {
        input {
          font-size: 20px;
          height: 50px;
        }
      }
    }
  }

  div.lower {
    figure:nth-child(2) {
      .no-pic {
        border-color: $hover-orange;
      }
    }
  }

  span.check-text1 {
    display: block;
    text-align: center;
  }

  .dis-block {
    display: block;
  }

  span.dots {
    display: none;
  }

  h1.inline.logo {
    text-align: center;
    display: block;
  }

  table#t thead th:nth-child(2) {
    width: 10px;
  }

  header div.flex {
    display: block;

    form.flex-form {
      input {
        box-sizing: border-box;
        height: 50px;
        width: calc(100% - 72px);
        margin-right: 5px;
      }

      input[type=submit] {
        width: 72px;
        float: right;
        margin-right: 0;
      }
    }
  }

  nav.flexbox ul {
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  nav.flexbox ul li {
    width: 25%;
    margin: 0;
  }

  nav.flexbox ul li:last-child {
    align-content: center;
    width: 100%;
    margin: 15px 0;
  }

  nav.flexbox ul li button {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .body-container {
    width: 1024px;
    padding-left: 1024px * 1/12;
    padding-right: 1024px * 1/12;
    margin: auto;
    border-left: 2px outset #e4e4e4;
    border-right: 2px ridge #e4e4e4;
  }

  div.top-teachers figure.visibility {
    display: block;
  }

  div.top-teachers figure.visibility:nth-child(4) {
    display: block;
  }
  div.top-teachers figure.visibility:nth-child(5) {
    display: block;
  }

  hr {
    width: 350px;
  }

  div.top-teachers {
    grid-template-columns: repeat(5, 1fr);
  }

  div.lower {
    figure:nth-child(3) {
      img {
        border-color: $hover-orange;
      }
    }
  }
}

@media (max-width: 1024px) {
  div.top-teachers.lower {
    grid-template-columns: repeat(3, 1fr);

    figure {
      .no-pic {
        max-width: 100%;
        height: 0;
        width: unset;
        padding-bottom: calc(100% - 8px);

      }
      img {
        max-width: 100%;
        height: unset;
        width: unset;
      }
    }

    figure:nth-child(2) {
      .no-pic {
        border-color: $hover-orange;
        max-width: 100%;
        height: unset;
        width: unset;
      }
    }
  }
}

.top-teachers {
  display: grid;
//  grid-template-columns: repeat(auto-fill, 120px);
  grid-auto-flow: unset;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 120px);
 // grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 35px;
  grid-row-gap: 1em;
  margin: $top-teachers-pad;
  box-sizing: border-box;

  figure.visibility:nth-child(4) {
    display: none;
  }
  figure.visibility:nth-child(5) {
    display: none;
  }

  figure {
    margin: 0 0 35px 0;

    img {
      box-sizing: border-box;
      width: 120px;
      height: 120px;
      margin: auto;
      border-radius: 50%;
      border: $peach-color 4px solid;
      display: block;
      overflow: hidden;
      z-index: 2;
    }

    img:hover {
      transform: scale(1.1);
      border: $hover-orange 4px solid;
      z-index: 0;
    }

    .no-pic {
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: $peach-color 4px solid;
      display: block;
      margin: auto;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 8px;

      div {
        position: absolute;
        display: inline-block;
        font-size: 25px;
        color: $orange-color;
        top: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(50%);
      }
    }

    .no-pic:hover {
      border: $hover-orange 4px solid;
      transform: scale(1.1);

      div {
        color: $hover-orange;
      }
    }

    p {
      text-align: center;
    }

    figcaption {
      text-align: center;
      margin-top: 15px;
    }
  }
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  td {
    text-align: center;
    padding: 15px;
  }

  th {
    padding: 15px;
  }

  thead tr th {
    border-bottom: black 1px solid;
  }

  td:first-child {
    text-align: left;
  }

  thead th:nth-child(1) {
    width: 46%;
    text-align: left;
  }

  thead th:nth-child(2) {
    width: 30px;
  }

  thead th:nth-child(3) {
    width: 17%;
  }

  thead th:nth-child(4) {
    width: 37%;
  }

  thead th:hover {
    border-width: 4px;
  }
}

.relative {
  position: relative;
}

.left-arrow {
  height: 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
}

.right-arrow {
  height: 15%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(100%) scale(-1, 1);
}

.star {
  height: 20%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%) translateX(50%) scale(-1, 1);
}

.blue {
  color: $blue-color !important;
}

.svg:hover {
  fill: #313;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
}


@media (max-width: 750px) {
  section#p1.popup {
    width: auto;
    padding: 20px 20px;

    h2 {
      font-size: 20px;
    }

    .avatar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    div.pack2 {
      position: initial;
      top: 50%;
      left: 50%;
      transform: translateY(0) translateX(0);

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.r-float {
  float: right;
}

section#p2 {
  width: auto;
  padding: 25px 80px 50px 80px;
  box-sizing: border-box;

  a.close {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #222;
  }

  a.close:link {
    text-decoration: none;
    color: #222;
  }

  legend {
    text-align: center;
    font-size: 27px;
  }

  li {
    margin: 15px 0 15px 0;

    label {
      display: block;
      margin-bottom: 10px;
    }

    span.outlined {
      position: absolute;
      right: 0;
    }

    &#color {
      font-size: 16px;
      vertical-align: middle;
      line-height: 32px;

      input {
        float: right;
        display: inline;
        width: 45px;
        height: 20px;
        box-sizing: border-box;
      }

      img {
        margin-top: 4px;
        margin-right: 4px;
      }

      label {
        display: inline;
        white-space: nowrap;
      }
    }

    &#sex {
      span {
        font-size: 16px;
      }

      input {
        height: 16px;
        width: 16px;
        box-sizing: border-box;
        margin-top: 0;
      }

      label {
        text-indent: 3px;
        display: inline;
        font-size: initial;
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    input {
      display: block;
      box-sizing: border-box;
      height: 35px;
      width: 240px;

      &[type=radio] {
        display: inline;
        width: auto;
        height: auto;
      }
    }

    &:last-child input {
      height: 65px;
      font-size: 27px;
      box-sizing: border-box;
      border: $orange-color 1px solid;
      padding: 10px 15px;
      color: $orange-color;
      font-weight: bold;
      background-color: transparent;

      &:hover {
        color: white;
        background-color: $orange-color;
      }
    }
  }
}

section.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 555px;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  padding: 20px 40px;
  border: 1px black solid;
  box-shadow: rgba(0, 0, 0, 0.7) -0.5px 0 0.5px;
  min-width: 245px;

  a.close {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #222;
  }

  a.close:link {
    text-decoration: none;
    color: #222;
  }

  h2 {
    margin-top: 0;
    color: #333;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 10px;

      div {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 21px;
      }

      h2 {
        text-align: left;
        margin: 0;
        display: inline-block;
      }

      .small-star {
        margin-left: auto;
        width: 29px;
        height: 29px;
      }
    }

    div.pack2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-10px);

      li:last-child {
        margin-bottom: 0;
      }
    }

    div.pack1 {
      overflow: hidden;

      li:first-child {
        margin: 0;
      }
    }
  }
}

.avatar {
  margin-right: 10px;
  float: left;
  width: 256px;
  height: 256px;
  background-color: #65a3be;
}

.decor {
  text-decoration: underline dashed 0.5px;
}

.favorite {
  background-color: transparent;
  border: 1px solid $orange-color;
  padding: 10px;
  color: #f75c49;

  &:hover {
    color: white;
    background-color: $orange-color;
  }
}

.l-float {
  float: left;
}

.sortArrow.outlined {
  position: absolute;
  display: none;
}
